@model sl_vera_covid19.mvc.ViewModels.CovidRegistrationViewModel

@{
    ViewData["Title"] = "Covid19";
}

<h1>Slet</h1>

<h4>Er du sikker på du vil slette denne registrering?</h4>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Tilbage til liste</a>
    </form>
</div>